* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

.wrapper {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.wrapper > img {
    background-color: gray;
    aspect-ratio: 4/5;
    object-fit: cover;
}
